In [29]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as pt

In [30]:
mobile = pd.read_csv('./mobile_202011301042.csv')
mobile.head()

,EventDate,alias_name,price,commented,market_time,screen_size,ram_size,rom_size,battery_capacity,cost_efficient,performance,endurance,appearance,camera_performance
0,2020-11-27,iPhone X2 Plus,0,4,2018年09月13日,NaN,NaN,NaN,NaN,0,0,0,0,0
1,2020-11-28,10 Pro,4999,28,2020年2月18日,6.67,8GB,256GB,4500mAh,8,9,8,7,8
2,2020-11-28,11 pro max,9599,52,2019年09月,6.50,4GB,64GB,3969mAh大电池手机,5,10,6,6,7
3,2020-11-28,1107,380,1,2010年,1.52,NaN,NaN,800mAh,0,0,0,0,0
4,2020-11-28,11Pro,0,0,NaN,6.67,NaN,NaN,4500mAh,0,0,0,0,0

In [31]:
mobile.describe()

,price,commented,screen_size,cost_efficient,performance,endurance,appearance,camera_performance
count,5581.000000,5581.000000,5306.000000,5581.000000,5581.000000,5581.000000,5581.000000,5581.000000
mean,2106.087260,117.588246,5.770101,4.987278,4.896614,5.035478,5.302634,5.090127
std,3202.877446,290.600784,1.024100,3.449173,3.609410,3.474922,3.554588,3.514376
min,0.000000,0.000000,1.200000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,458.000000,1.000000,5.500000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1200.000000,18.000000,6.000000,6.000000,6.000000,6.000000,7.000000,6.000000
75%,2599.000000,93.000000,6.500000,8.000000,8.000000,8.000000,8.000000,8.000000
max,69000.000000,3073.000000,8.000000,10.000000,10.000000,10.000000,10.000000,10.000000

In [32]:
mobile[mobile['price']>0]['price'].describe()

count     4552.000000
mean      2582.177724
std       3368.720213
min         55.000000
25%        888.000000
50%       1599.000000
75%       2999.000000
max      69000.000000
Name: price, dtype: float64

In [33]:
mobile[mobile['commented']>0]['commented'].describe()

count    4281.000000
mean      153.295959
std       323.456380
min         1.000000
25%        10.000000
50%        25.000000
75%       158.000000
max      3073.000000
Name: commented, dtype: float64

In [34]:
mobile[mobile['screen_size']>0]['screen_size'].describe()

count    5306.000000
mean        5.770101
std         1.024100
min         1.200000
25%         5.500000
50%         6.000000
75%         6.500000
max         8.000000
Name: screen_size, dtype: float64

In [35]:
mobile[mobile['cost_efficient']>0]['cost_efficient'].describe()

count    4000.000000
mean        6.958500
std         1.697056
min         1.000000
25%         6.000000
50%         7.000000
75%         8.000000
max        10.000000
Name: cost_efficient, dtype: float64

In [36]:
mobile[mobile['performance']>0]['performance'].describe()

count    4002.000000
mean        6.828586
std         2.230103
min         1.000000
25%         5.000000
50%         7.000000
75%         9.000000
max        10.000000
Name: performance, dtype: float64

In [37]:
mobile[mobile['endurance']>0]['endurance'].describe()

count    3999.000000
mean        7.027507
std         1.688392
min         1.000000
25%         6.000000
50%         7.000000
75%         8.000000
max        10.000000
Name: endurance, dtype: float64

In [38]:
mobile[mobile['appearance']>0]['appearance'].describe()

count    3999.000000
mean        7.400350
std         1.451573
min         1.000000
25%         6.000000
50%         8.000000
75%         9.000000
max        10.000000
Name: appearance, dtype: float64

In [39]:
mobile[mobile['camera_performance']>0]['camera_performance'].describe()

count    3998.000000
mean        7.105553
std         1.708231
min         1.000000
25%         6.000000
50%         7.000000
75%         8.000000
max        10.000000
Name: camera_performance, dtype: float64

In [40]:
mobile['market_time']

0       2018年09月13日
1        2020年2月18日
2          2019年09月
3             2010年
4               NaN
           ...
5576     2020年5月14日
5577     2020年7月31日
5578     2020年3月27日
5579     2020年5月14日
5580    2019年03月22日
Name: market_time, Length: 5581, dtype: object

In [41]:
import re
from datetime import datetime

In [42]:
def get_days(text):
    text = text.replace("年", "-").replace("月", "-").replace("日", " ").replace("/", "-").strip()
    text = re.sub("\s+", " ", text)
    t = ""
    interval = 0
    regex_dict = {
        # "2014年5月11日"
        "(\d{4}-\d{1,2}-\d{1,2})":"%Y-%m-%d",
        # "2014年5月"
        "(\d{4}-\d{1,2})":"%Y-%m",
        # 2014 年
        "(\d{4})":"%Y",
            }
    for regex in regex_dict.keys():
        
        t =  re.search(regex, text)
        if t:
            t = t.group(1)
            dd = datetime.strptime(t, regex_dict[regex])
            interval = (datetime.now()-dd).days
#             print(interval)
            return max(interval,1)
    # else:
    # print("没有获取到有效日期")
    return interval

In [43]:

for item in mobile['market_time'][:5].to_list():
    print(get_days(str(item)))

810
287
457
3987
0

In [45]:
mobile['days']=mobile['market_time'].apply(lambda x : get_days(str(x)))
mobile[mobile['days']>0]['days'].describe()

count    5220.000000
mean     1049.662069
std       883.137244
min         1.000000
25%       366.000000
50%       884.000000
75%      1447.000000
max      7609.000000
Name: days, dtype: float64

In [46]:
mobile['battery_capacity']

0                      NaN
1                  4500mAh
2             3969mAh大电池手机
3                   800mAh
4                  4500mAh
               ...
5576               5000mAh
5577               4729mAh
5578               5000mAh
5579               5000mAh
5580    4000mAh（30分钟充电57%）
Name: battery_capacity, Length: 5581, dtype: object

In [47]:
def get_capacity(text):
    regex = "(\d+)mAh"
    capacity=0
    t = re.search(regex,text)
#     print(t)
    if t:
        capacity = t.group(1)
        return int(capacity)
    return capacity

In [19]:
mobile['ba_cap']= mobile['battery_capacity'].apply(lambda x :get_capacity(str(x)))
mobile[mobile['ba_cap']>0]['ba_cap'].describe()

count     5181.000000
mean      3603.055395
std       1080.245915
min        500.000000
25%       3000.000000
50%       3700.000000
75%       4230.000000
max      10000.000000
Name: ba_cap, dtype: float64

In [20]:
mobile['ram_size']

0        NaN
1        8GB
2        4GB
3        NaN
4        NaN
        ...
5576     8GB
5577    12GB
5578     8GB
5579    12GB
5580     8GB
Name: ram_size, Length: 5581, dtype: object

In [21]:
def get_rom(text):
    regex = "(\d+)GB"
    capacity=0
    t = re.search(regex,text)
#     print(t)
    if t:
        capacity = t.group(1)
        return int(capacity)
    return capacity

In [22]:
mobile['ram']= mobile['ram_size'].apply(lambda x : get_rom(str(x)))
mobile[mobile['ram']>0]['ram'].describe()

count    4924.000000
mean        5.005280
std         2.575761
min         1.000000
25%         3.000000
50%         4.000000
75%         8.000000
max        16.000000
Name: ram, dtype: float64

In [23]:
mobile['rom']= mobile['rom_size'].apply(lambda x : get_rom(str(x)))
mobile[mobile['rom']>0]['rom'].describe()

count    4918.000000
mean       95.789142
std        96.991333
min         2.000000
25%        32.000000
50%        64.000000
75%       128.000000
max       512.000000
Name: rom, dtype: float64

In [24]:
mobile.head()

,EventDate,alias_name,price,commented,market_time,screen_size,ram_size,rom_size,battery_capacity,cost_efficient,performance,endurance,appearance,camera_performance,days,ba_cap,ram,rom
0,2020-11-27,iPhone X2 Plus,0,4,2018年09月13日,NaN,NaN,NaN,NaN,0,0,0,0,0,809,0,0,0
1,2020-11-28,10 Pro,4999,28,2020年2月18日,6.67,8GB,256GB,4500mAh,8,9,8,7,8,286,4500,8,256
2,2020-11-28,11 pro max,9599,52,2019年09月,6.50,4GB,64GB,3969mAh大电池手机,5,10,6,6,7,456,3969,4,64
3,2020-11-28,1107,380,1,2010年,1.52,NaN,NaN,800mAh,0,0,0,0,0,3986,800,0,0
4,2020-11-28,11Pro,0,0,NaN,6.67,NaN,NaN,4500mAh,0,0,0,0,0,0,4500,0,0

In [25]:
mobile['price']= mobile['price'].apply(lambda x :x if float(x)>0 else 0)
mobile['price']

0          0
1       4999
2       9599
3        380
4          0
        ...
5576    5299
5577    4599
5578    5299
5579    5099
5580    2699
Name: price, Length: 5581, dtype: int64

In [26]:
mobile.columns

Index(['EventDate', 'alias_name', 'price', 'commented', 'market_time',
       'screen_size', 'ram_size', 'rom_size', 'battery_capacity',
       'cost_efficient', 'performance', 'endurance', 'appearance',
       'camera_performance', 'days', 'ba_cap', 'ram', 'rom'],
      dtype='object')

In [27]:
mobile_new = mobile[[ 'alias_name', 'price', 'commented', 'screen_size',
       'cost_efficient', 'performance', 'endurance', 'appearance',
       'camera_performance', 'days', 'ba_cap', 'ram', 'rom']]
mobile_new.head()

,alias_name,price,commented,screen_size,cost_efficient,performance,endurance,appearance,camera_performance,days,ba_cap,ram,rom
0,iPhone X2 Plus,0,4,NaN,0,0,0,0,0,809,0,0,0
1,10 Pro,4999,28,6.67,8,9,8,7,8,286,4500,8,256
2,11 pro max,9599,52,6.50,5,10,6,6,7,456,3969,4,64
3,1107,380,1,1.52,0,0,0,0,0,3986,800,0,0
4,11Pro,0,0,6.67,0,0,0,0,0,0,4500,0,0

In [28]:
mobile_new.to_csv('./mobile_new.csv',index=False)